/* Estilos do login */
body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com transparência */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px; /* Largura fixada para o container */
}

h1 {
    color: #f44336; /* Vermelho */
    font-size: 1.8rem;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 8px;
    width: 100%; /* Para ocupar toda a largura do container */
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

/* Estilo do campo de texto */
input {
    background-color: #333; /* Fundo escuro */
    color: white;
    transition: background-color 0.3s;
}

input:focus {
    background-color: #444; /* Leve mudança de cor ao focar */
}

button {
    background-color: #f44336; /* Botão vermelho */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e53935; /* Mudança suave ao passar o mouse */
}

/* Estilos do popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro semitransparente */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: rgba(0, 0, 0, 0.9); /* Fundo escuro com leve transparência */
    color: rgb(124, 120, 120);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content input, .popup-content button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
}

#close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

#close-popup:hover {
    color: #f44336; /* Mudança de cor ao passar o mouse */
}

/* Mensagens de erro */
#error-message, #create-error-message {
    color: red;
    font-size: 0.9rem;
    display: none;
    margin-top: 10px;
}
